<h2> Employee-List </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> ID </th>
            <th> Profile Photo</th>
            <th> Fullname </th>
            <th> Email </th>
            <!-- <th> Date of Birth </th> -->
            <th> Work Schedule</th>
            <th> Role </th>
            <th> On Leave</th>
            <th> Deparment</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <!-- here employees won't be recognised until u introduce in employee-list component -->
        <tr *ngFor="let employee of employees">
            <td> {{employee.id}} </td>
            <td> <img class="img-thumbnail" src="EMS_Files/{{employee.profilePhotoPath}}" height="150px" width="150px" alt=""> </td>
            <td> {{employee.fullName}} </td>
            <td> {{employee.email}} </td>
            <td> {{employee.workSchedule}} </td>
            <td> {{employee.role}} </td>
            <td> {{employee.onLeave}} </td>
            <td> {{employee.worksIn}} </td>
            <td>
                <button (click)="updateEmployee(employee.id)  " class="btn btn-outline-warning"> Update </button>
                 <button (click)="deleteEmployee(employee.id)" class="btn btn-outline-danger" style="margin-left: 10px"> Delete </button>
                 <button (click)="employeeDetails(employee.id)" class="btn btn-outline-info" style="margin-left: 10px"> View </button>
                </td>
        </tr>
    </tbody>
</table>
